openapi: 3.0.2
info:
  description: Searching of WorldCat
  title: WorldCat Search API v. 2
  version: 2.0.0
externalDocs:
  description: Find out more about WorldCat Search API
  url: https://www.oclc.org/developer/develop/web-services/worldcat-search-api.en.html
servers:
- url: https://americas.discovery.api.oclc.org/worldcat/search/v2
security:
- worldcat_search_auth:
  - wcapi
paths:
  /bibs-retained-holdings:
    get:
      description: "Given a known item, find the member library holdings with a commitment\
        \ to retain (Shared Print)"
      operationId: find-bib-retained-holdings
      parameters:
      - description: Content Type the client supports and is requesting (application/json
          currently supported)
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      - description: oclc number of the bibliographic item
        example: 41266045
        explode: true
        in: query
        name: oclcNumber
        required: false
        schema:
          description: the oclc number of a given bibliographic record
          format: int64
          type: integer
        style: form
      - description: isbn of the bibliographic item (bn index)
        example: "0439136350"
        explode: true
        in: query
        name: isbn
        required: false
        schema:
          type: string
        style: form
      - description: issn of the bibliographic item (in index)
        example: 0099-1333
        explode: true
        in: query
        name: issn
        required: false
        schema:
          type: string
        style: form
      - description: Restrict to holdings held by Group Symbol
        example: ASRL
        explode: true
        in: query
        name: heldByGroup
        required: false
        schema:
          type: string
        style: form
      - description: "Restrict to holdings held by Institutions in requested State/Province,\
          \ per ISO 3166-2."
        example: US-TX
        explode: true
        in: query
        name: heldInState
        required: false
        schema:
          description: "Name of the State/Province, per ISO 3166-2."
          type: string
        style: form
      - description: "start position of the bib records to return (0 based), default\
          \ 0"
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "maximum number of records to return, maximum 50, default 10"
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success-bibs-retained-holdings:
                  summary: successful request for bibs retained-holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "1752384"
                      title: Human biology.
                      creator: Raymond Pearl
                      date: "1929"
                      language: eng
                      generalFormat: Jrnl
                      publisher: Wayne State University Press
                      publicationPlace:
                      - Detroit
                      - Mich.
                      - etc.
                      mergedOclcNumbers:
                      - "51395149"
                      - "185058739"
                      - "219847884"
                      issns:
                      - 0018-7143
                      catalogingInfo:
                        catalogingAgency: MUL
                        transcribingAgency: MUL
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 716
                        briefHoldings:
                        - country: US
                          state: US-GA
                          oclcSymbol: EMU
                          registryId: 699
                          institutionName: EMORY UNIV
                          self: https://worldcat.org/oclc-config/institution/data/699
                          illStatus: S
                          address:
                            street1: 540 Asbury Circle
                            city: Atlanta
                            state: US-GA
                            postalCode: 30322
                            country: US
                          institutionType: ACADEMIC
                success-bibs-retained-holdings-monograph:
                  summary: successful request for bibs retained-holdings monograph
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "27972555"
                      title: "Design, form, and chaos"
                      creator: Paul Rand
                      date: "1993"
                      language: eng
                      generalFormat: Book
                      specificFormat: PrintBook
                      publisher: Yale University Press
                      publicationPlace: 'New Haven :'
                      mergedOclcNumbers:
                      - "1008281567"
                      isbns:
                      - "0300055536"
                      - "9780300055535"
                      catalogingInfo:
                        catalogingAgency: DLC
                        transcribingAgency: DLC
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 904
                        briefHoldings:
                        - country: US
                          state: US-NY
                          oclcSymbol: VKM
                          registryId: 2012
                          institutionName: SIENA COL
                          self: https://worldcat.org/oclc-config/institution/data/2012
                          illStatus: S
                          address:
                            street1: "Standish Library,  Siena College"
                            street2: 515 Loudon Road
                            city: Loudonville
                            state: US-NY
                            postalCode: 12211-1462
                            country: US
                          institutionType: ACADEMIC
                success-bibs-retained-holdings-serial:
                  summary: successful request for bibs retained-holdings serial
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "1588319"
                      title: Review of educational research.
                      creator: Douglas E. Scates
                      date: "1931"
                      language: eng
                      generalFormat: Jrnl
                      publisher: American Educational Research Association.
                      publicationPlace: "[Washington]"
                      mergedOclcNumbers:
                      - "1265834"
                      - "185062311"
                      - "706493479"
                      issns:
                      - 0034-6543
                      catalogingInfo:
                        catalogingAgency: MUL
                        transcribingAgency: MUL
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 1048
                        briefHoldings:
                        - country: US
                          state: US-IL
                          oclcSymbol: CRL
                          registryId: 93175
                          institutionName: CENTER FOR RES LIBR
                          self: https://worldcat.org/oclc-config/institution/data/93175
                          illStatus: "N"
                          address:
                            street1: 6050 S. Kenwood
                            city: Chicago
                            state: US-IL
                            postalCode: 60637
                            country: US
                          institutionType: ACADEMIC
                success-bibs-retained-holdings-serial-2:
                  summary: successful request for bibs retained-holdings serial with
                    enumeration/caption/summary
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "1696940"
                      title: The Irish theological quarterly.
                      creator: "St. Patrick's College (Maynooth, Ireland)."
                      date: "1906"
                      language: eng
                      generalFormat: Jrnl
                      publisher: "Members of the Faculty of Theology] St. Patrick's\
                        \ College, Maynooth."
                      publicationPlace: "Maynooth [Ireland,"
                      mergedOclcNumbers:
                      - 528992833
                      issns:
                      - 0021-1400
                      catalogingInfo:
                        catalogingAgency: MUL
                        transcribingAgency: MUL
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 291
                        briefHoldings:
                        - country: US
                          state: US-NY
                          oclcSymbol: VKM
                          registryId: 2012
                          institutionName: SIENA COL
                          self: https://worldcat.org/oclc-config/institution/data/2012
                          illStatus: S
                          address:
                            street1: "Standish Library,  Siena College"
                            street2: 515 Loudon Road
                            city: Loudonville
                            state: US-NY
                            postalCode: 12211-1462
                            country: US
                          institutionType: ACADEMIC
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_200_response'
          description: Successful search for retained holdings with bib info
        "400":
          content:
            application/json:
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Invalid query. The request was unacceptable, often due to\
            \ missing a required parameter."
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Method not supported, see response Allow header"
        "406":
          content:
            application/json:
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "Media type application/xml not supported. Supported media\
                      \ types: application/json"
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "en-UK supported. Supported languages: en, es, fr"
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Media type not supported
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Something went wrong (hopfully rare) - please try again
      security:
      - worldcat_search_auth:
        - wcapi:view_retained_holdings
      summary: Find member shared print holdings for a known item
      tags:
      - Member Shared Print Holdings
  /bibs-summary-holdings:
    get:
      description: "Given a known item, get summary of holdings"
      operationId: find-bib-summary-holdings
      parameters:
      - description: Content Type the client supports and is requesting (application/json
          currently supported)
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      - description: oclc number of the bibliographic item
        example: 41266045
        explode: true
        in: query
        name: oclcNumber
        required: false
        schema:
          description: the oclc number of a given bibliographic record
          format: int64
          type: integer
        style: form
      - description: isbn of the bibliographic item (bn index)
        example: "0439136350"
        explode: true
        in: query
        name: isbn
        required: false
        schema:
          type: string
        style: form
      - description: issn of the bibliographic item (in index)
        example: 0099-1333
        explode: true
        in: query
        name: issn
        required: false
        schema:
          type: string
        style: form
      - description: Get holdings for all editions
        explode: true
        in: query
        name: holdingsAllEditions
        required: false
        schema:
          type: boolean
        style: form
      - description: Get holdings for specific edition across variant records
        explode: true
        in: query
        name: holdingsAllVariantRecords
        required: false
        schema:
          type: boolean
        style: form
      - description: language user would prefer metadata description in
        explode: true
        in: query
        name: preferredLanguage
        required: false
        schema:
          description: three character MARC code for language to prefer records in
          example: fre
          type: string
        style: form
      - description: Restrict to holdings held by institutions in requested country
        example: US
        explode: true
        in: query
        name: heldInCountry
        required: false
        schema:
          description: "Two-character Country Code, per ISO 3166."
          type: string
        style: form
      - description: Restrict to holdings held by Group Symbol
        example: ASRL
        explode: true
        in: query
        name: heldByGroup
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Institution Symbol
        example: TXH
        explode: true
        in: query
        name: heldBy
        required: false
        schema:
          type: string
        style: form
      - description: Institution Symbol
        examples:
          single:
            value:
            - TXH
          multiple:
            value:
            - TXH
            - YSM
        explode: false
        in: query
        name: heldBySymbol
        required: false
        schema:
          items:
            description: institution OCLC Symbol. Special characters need to be encoded
              properly.
            maxLength: 8
            minLength: 3
            pattern: "^[a-zA-Z0-9@*&#%+$/]{1,}$"
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Institution registryId
        examples:
          single:
            value:
            - 128807
          multiple:
            value:
            - 128807
            - 91475
        explode: false
        in: query
        name: heldByInstitutionID
        required: false
        schema:
          items:
            description: The identifier in the WorldCat Registry for the institution
            type: integer
          maxItems: 5
          minItems: 0
          type: array
        style: form
      - description: latitude
        explode: true
        in: query
        name: lat
        required: false
        schema:
          description: Latitude
          example: 37.502508
          format: double
          type: number
        style: form
      - description: longitude
        explode: true
        in: query
        name: lon
        required: false
        schema:
          description: Longitude
          example: -122.22702
          format: double
          type: number
        style: form
      - description: distance
        example: 10
        explode: true
        in: query
        name: distance
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: distance unit
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: M
          description: The unit of measure is either (M) for miles or (K) for kilometers
          enum:
          - M
          - K
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success-bibs-summary-holdings:
                  summary: successful request for bibs and holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "318877925"
                      title: Simon's cat / by Simon Tofield.
                      creator: Simon. Tofield
                      date: "2009."
                      language: eng
                      generalFormat: Book
                      specificFormat: PrintBook
                      edition: 1st ed.
                      publisher: Grand Central Pub.
                      publicationPlace: 'New York :'
                      mergedOclcNumbers:
                      - "877908501"
                      isbns:
                      - "9780446560061"
                      - "0446560065"
                      catalogingInfo:
                        catalogingAgency: DLC
                        transcribingAgency: DLC
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 464
                        totalSharedPrintCount: 0
                        totalEditions: 17
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_200_response'
          description: Successful search
        "400":
          content:
            application/json:
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Invalid query. The request was unacceptable, often due to\
            \ missing a required parameter."
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Method not supported, see response Allow header"
        "406":
          content:
            application/json:
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "Media type application/xml not supported. Supported media\
                      \ types: application/json"
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "en-UK supported. Supported languages: en, es, fr"
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Media type not supported
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Something went wrong (hopfully rare) - please try again
      security:
      - worldcat_search_auth:
        - wcapi:view_summary_holdings
      summary: Get summary of holdings for a known item
      tags:
      - Member General Holdings
  /bibs-holdings:
    get:
      description: "Given a known item, find the member libraries who hold it"
      operationId: find-bib-holdings
      parameters:
      - description: Content Type the client supports and is requesting (application/json
          currently supported)
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      - description: oclc number of the bibliographic item
        example: 41266045
        explode: true
        in: query
        name: oclcNumber
        required: false
        schema:
          description: the oclc number of a given bibliographic record
          format: int64
          type: integer
        style: form
      - description: isbn of the bibliographic item (bn index)
        example: "0439136350"
        explode: true
        in: query
        name: isbn
        required: false
        schema:
          type: string
        style: form
      - description: issn of the bibliographic item (in index)
        example: 0099-1333
        explode: true
        in: query
        name: issn
        required: false
        schema:
          type: string
        style: form
      - description: Get holdings for all editions
        explode: true
        in: query
        name: holdingsAllEditions
        required: false
        schema:
          type: boolean
        style: form
      - description: Get holdings for specific edition across variant records
        explode: true
        in: query
        name: holdingsAllVariantRecords
        required: false
        schema:
          type: boolean
        style: form
      - description: language user would prefer metadata description in
        explode: true
        in: query
        name: preferredLanguage
        required: false
        schema:
          description: three character MARC code for language to prefer records in
          example: fre
          type: string
        style: form
      - description: Restrict to holdings held by institutions in requested country
        example: US
        explode: true
        in: query
        name: heldInCountry
        required: false
        schema:
          description: "Two-character Country Code, per ISO 3166."
          type: string
        style: form
      - description: Institution Symbol
        examples:
          single:
            value:
            - TXH
          multiple:
            value:
            - TXH
            - YSM
        explode: false
        in: query
        name: heldBySymbol
        required: false
        schema:
          items:
            description: institution OCLC Symbol. Special characters need to be encoded
              properly.
            maxLength: 8
            minLength: 3
            pattern: "^[a-zA-Z0-9@*&#%+$/]{1,}$"
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Institution registryId
        examples:
          single:
            value:
            - 128807
          multiple:
            value:
            - 128807
            - 91475
        explode: false
        in: query
        name: heldByInstitutionID
        required: false
        schema:
          items:
            description: The identifier in the WorldCat Registry for the institution
            type: integer
          maxItems: 5
          minItems: 0
          type: array
        style: form
      - description: latitude
        explode: true
        in: query
        name: lat
        required: false
        schema:
          description: Latitude
          example: 37.502508
          format: double
          type: number
        style: form
      - description: longitude
        explode: true
        in: query
        name: lon
        required: false
        schema:
          description: Longitude
          example: -122.22702
          format: double
          type: number
        style: form
      - description: distance
        example: 10
        explode: true
        in: query
        name: distance
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: distance unit
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: M
          description: The unit of measure is either (M) for miles or (K) for kilometers
          enum:
          - M
          - K
          type: string
        style: form
      - description: "When a lat/lon is passed, the number of nearest holdings to\
          \ show even if outside the search radius."
        example: 20
        explode: true
        in: query
        name: numberNearestHoldings
        required: false
        schema:
          format: int32
          maximum: 200
          type: integer
        style: form
      - description: "start position of the bib records to return (0 based), default\
          \ 0"
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "maximum number of records to return, maximum 50, default 10"
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success-bibs-holdings:
                  summary: successful request for bibs and holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "318877925"
                      title: Simon's cat / by Simon Tofield.
                      creator: Simon. Tofield
                      date: "2009."
                      language: eng
                      generalFormat: Book
                      specificFormat: PrintBook
                      edition: 1st ed.
                      publisher: Grand Central Pub.
                      publicationPlace: 'New York :'
                      mergedOclcNumbers:
                      - "877908501"
                      isbns:
                      - "9780446560061"
                      - "0446560065"
                      catalogingInfo:
                        catalogingAgency: DLC
                        transcribingAgency: DLC
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 227
                        totalEditions: 17
                        briefHoldings:
                        - country: US
                          state: PA
                          oclcSymbol: CPL
                          registryId: 14692
                          institutionName: Carnegie Library of Pittsburgh
                          self: https://worldcat.org/oclc-config/institution/data/14692
                          illStatus: S
                          address:
                            street1: 4400 Forbes Avenue
                            city: Pittsburgh
                            state: PA
                            postalCode: "15213"
                            country: US
                            lat: "40.4428558"
                            lon: "-79.9558487"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: DMM
                          registryId: 14235
                          institutionName: Dayton Metro Library
                          self: https://worldcat.org/oclc-config/institution/data/14235
                          illStatus: S
                          address:
                            street1: 215 East Third Street
                            city: Dayton
                            state: OH
                            postalCode: 45402-2103
                            country: US
                            lat: "39.7573013"
                            lon: "-84.1862183"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: LAP
                          registryId: 14285
                          institutionName: Lakewood Public Library
                          self: https://worldcat.org/oclc-config/institution/data/14285
                          illStatus: S
                          address:
                            street1: 15425 Detroit Ave
                            city: Lakewood
                            state: OH
                            postalCode: 44107 2890
                            country: US
                            lat: "41.4814072"
                            lon: "-81.7929535"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: GRC
                          registryId: 14415
                          institutionName: Greene County Public Library
                          self: https://worldcat.org/oclc-config/institution/data/14415
                          illStatus: S
                          address:
                            street1: 76 East Market Street
                            city: Xenia
                            state: OH
                            postalCode: 45385-0520
                            country: US
                            lat: "39.6839714"
                            lon: "-83.9416656"
                          institutionType: PUBLIC
                success-bibs-holdings-all-editions:
                  summary: successful request for bibs and holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "318877925"
                      title: Simon's cat / by Simon Tofield.
                      creator: Simon. Tofield
                      date: "2009."
                      language: eng
                      generalFormat: Book
                      specificFormat: PrintBook
                      edition: 1st ed.
                      publisher: Grand Central Pub.
                      publicationPlace: 'New York :'
                      mergedOclcNumbers:
                      - "877908501"
                      isbns:
                      - "9780446560061"
                      - "0446560065"
                      catalogingInfo:
                        catalogingAgency: DLC
                        transcribingAgency: DLC
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 464
                        totalEditions: 17
                        briefHoldings:
                        - country: US
                          state: PA
                          oclcSymbol: CPL
                          registryId: 14692
                          institutionName: Carnegie Library of Pittsburgh
                          self: https://worldcat.org/oclc-config/institution/data/14692
                          illStatus: S
                          address:
                            street1: 4400 Forbes Avenue
                            city: Pittsburgh
                            state: PA
                            postalCode: "15213"
                            country: US
                            lat: "40.4428558"
                            lon: "-79.9558487"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: DMM
                          registryId: 14235
                          institutionName: Dayton Metro Library
                          self: https://worldcat.org/oclc-config/institution/data/14235
                          illStatus: S
                          address:
                            street1: 215 East Third Street
                            city: Dayton
                            state: OH
                            postalCode: 45402-2103
                            country: US
                            lat: "39.7573013"
                            lon: "-84.1862183"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: LAP
                          registryId: 14285
                          institutionName: Lakewood Public Library
                          self: https://worldcat.org/oclc-config/institution/data/14285
                          illStatus: S
                          address:
                            street1: 15425 Detroit Ave
                            city: Lakewood
                            state: OH
                            postalCode: 44107 2890
                            country: US
                            lat: "41.4814072"
                            lon: "-81.7929535"
                          institutionType: PUBLIC
                        - country: US
                          state: OH
                          oclcSymbol: GRC
                          registryId: 14415
                          institutionName: Greene County Public Library
                          self: https://worldcat.org/oclc-config/institution/data/14415
                          illStatus: S
                          address:
                            street1: 76 East Market Street
                            city: Xenia
                            state: OH
                            postalCode: 45385-0520
                            country: US
                            lat: "39.6839714"
                            lon: "-83.9416656"
                          institutionType: PUBLIC
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_200_response'
          description: Successful search
        "400":
          content:
            application/json:
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Invalid query. The request was unacceptable, often due to\
            \ missing a required parameter."
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Method not supported, see response Allow header"
        "406":
          content:
            application/json:
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "Media type application/xml not supported. Supported media\
                      \ types: application/json"
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "en-UK supported. Supported languages: en, es, fr"
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Media type not supported
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Something went wrong (hopfully rare) - please try again
      security:
      - worldcat_search_auth:
        - wcapi:view_institution_holdings
      summary: Find member holdings for a known item
      tags:
      - Member General Holdings
  /bibs-detailed-holdings:
    get:
      description: "Given a known item, search member library holdings for detailed\
        \ information"
      operationId: find-bib-detailed-holdings
      parameters:
      - description: Content Type the client supports and is requesting (application/json
          currently supported)
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      - description: oclc number of the bibliographic item
        example: 41266045
        explode: true
        in: query
        name: oclcNumber
        required: false
        schema:
          description: the oclc number of a given bibliographic record
          format: int64
          type: integer
        style: form
      - description: isbn of the bibliographic item (bn index)
        example: "0439136350"
        explode: true
        in: query
        name: isbn
        required: false
        schema:
          type: string
        style: form
      - description: issn of the bibliographic item (in index)
        example: 0099-1333
        explode: true
        in: query
        name: issn
        required: false
        schema:
          type: string
        style: form
      - description: Restrict to holdings held by Group Symbol
        example: ASRL
        explode: true
        in: query
        name: heldByGroup
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Institution Symbol
        example: TXH
        explode: true
        in: query
        name: heldBy
        required: false
        schema:
          type: string
        style: form
      - description: Institution Symbol
        examples:
          single:
            value:
            - TXH
          multiple:
            value:
            - TXH
            - YSM
        explode: false
        in: query
        name: heldBySymbol
        required: false
        schema:
          items:
            description: institution OCLC Symbol. Special characters need to be encoded
              properly.
            maxLength: 8
            minLength: 3
            pattern: "^[a-zA-Z0-9@*&#%+$/]{1,}$"
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Institution registryId
        examples:
          single:
            value:
            - 128807
          multiple:
            value:
            - 128807
            - 91475
        explode: false
        in: query
        name: heldByInstitutionID
        required: false
        schema:
          items:
            description: The identifier in the WorldCat Registry for the institution
            type: integer
          maxItems: 5
          minItems: 0
          type: array
        style: form
      - description: "start position of the bib records to return (0 based), default\
          \ 0"
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "maximum number of records to return, maximum 50, default 10"
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success-bibs-detailed-holdings:
                  summary: successful request for bibs and detailed holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                    - oclcNumber: "318877925"
                      title: Simon's cat / by Simon Tofield.
                      creator: Simon. Tofield
                      date: "2009."
                      language: eng
                      generalFormat: Book
                      specificFormat: PrintBook
                      edition: 1st ed.
                      publisher: Grand Central Pub.
                      publicationPlace: 'New York :'
                      mergedOclcNumbers:
                      - "877908501"
                      isbns:
                      - "9780446560061"
                      - "0446560065"
                      catalogingInfo:
                        catalogingAgency: DLC
                        transcribingAgency: DLC
                        catalogingLanguage: eng
                        levelOfCataloging: ' '
                      institutionHolding:
                        totalHoldingCount: 227
                        detailedHoldings:
                        - lhrControlNumber: "238374600"
                          lhrDateEntered: "20190617"
                          lhrLastUpdated: "20190617"
                          oclcNumber: "318877925"
                          format: zu
                          location:
                            holdingLocation: OCPSB
                            sublocationCollection: MAIN
                            shelvingLocation: MAIN-STACKS
                          copyNumber: "1"
                          callNumber:
                            displayCallNumber: prefix PN6738 .S56 test
                            classificationPart: PN6738
                            itemParts:
                            - .S56
                            prefixes:
                            - prefix
                            suffixes:
                            - test
                          hasSharedPrintCommitment: "N"
                          holdingParts:
                          - pieceDesignation: K123456789
                        - lhrControlNumber: "250915410"
                          lhrLastUpdated: "20180416"
                          oclcNumber: "318877925"
                          format: zu
                          location:
                            holdingLocation: OCPSB
                            sublocationCollection: MAIN
                            shelvingLocation: MAIN-STACKS
                          copyNumber: "2"
                          callNumber:
                            displayCallNumber: PN6738 .S56
                            classificationPart: PN6738
                            itemParts:
                            - .S56
                          hasSharedPrintCommitment: "N"
                          holdingParts:
                          - pieceDesignation: "23798749734937"
                success-detailed-holdings-serial:
                  summary: successful request for detailed holdings serials
                  value:
                    totalHoldingCount: 961
                    detailedHoldings:
                    - lhrControlNumber: "266349549"
                      lhrDateEntered: "20190716"
                      lhrLastUpdated: "20190716"
                      oclcNumber: "2243594"
                      format: zu
                      location:
                        holdingLocation: OCPSB
                        sublocationCollection: MAIN
                        shelvingLocation: MAIN-STACKS
                      copyNumber: "1"
                      callNumber:
                        displayCallNumber: 020.5 O688465
                        classificationPart: 20.5
                        itemParts:
                        - O688465
                      hasSharedPrintCommitment: "N"
                      holdingParts:
                      - linkingAndSequenceNumber: "1.1"
                        enumerations:
                        - caption: v.
                          value: "133"
                        - caption: no.
                          value: "1"
                        chronologies:
                        - caption: (year)
                          value: "2008"
                        - caption: (month)
                          value: "01"
                        - caption: (day)
                          value: "01"
                      - linkingAndSequenceNumber: "1.2"
                        enumerations:
                        - caption: v.
                          value: "133"
                        - caption: no.
                          value: "2"
                        chronologies:
                        - caption: (year)
                          value: "2008"
                        - caption: (month)
                          value: "01"
                        - caption: (day)
                          value: "02"
                      - linkingAndSequenceNumber: "0"
                        textualHoldings: v. 133 no. 1 - 2 (Jan - Apr 2008)
                      - linkingAndSequenceNumber: "1.1"
                        summaryOfHoldings: v.133:no.1(2008:Jan 1)
                        pieceDesignation: testBarcode
                        temporaryLocation: MAIN-Reference
                      - linkingAndSequenceNumber: "1.2"
                        summaryOfHoldings: v.133:no.2(2008:Jan 2)
                        pieceDesignation: testBarcode2
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_200_response'
          description: Successful search
        "400":
          content:
            application/json:
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Invalid query. The request was unacceptable, often due to\
            \ missing a required parameter."
        "401":
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: "Method not supported, see response Allow header"
        "406":
          content:
            application/json:
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "Media type application/xml not supported. Supported media\
                      \ types: application/json"
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ""
                    detail: "en-UK supported. Supported languages: en, es, fr"
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Media type not supported
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/find_bib_retained_holdings_400_response'
          description: Something went wrong (hopfully rare) - please try again
      security:
      - worldcat_search_auth:
        - wcapi:view_holdings
      summary: Find detailed info of member holdings for a known item
      tags:
      - Member General Holdings
  /bibs:
    get:
      description: "Search Bibliographic Resources. Key Indexes <table cellspacing=\"\
        0\"> <tbody><tr><th>Index Name</th> <th>Index Code</th> </tr> <tr><td>Author</td>\
        \ <td>au</td> </tr><tr><td>Corporate/Conference Name</td> <td>cn</td> </tr><tr><td>ISBN</td>\
        \ <td>bn</td> </tr><tr><td>ISSN</td> <td>in</td> </tr><tr><td>Keyword</td>\
        \ <td>kw</td> </tr><tr><td>LCCN</td> <td>dn</td> </tr><tr><td>Notes</td> <td>nt</td>\
        \ </tr><tr><td>OCLC Number</td> <td>sno</td> </tr><tr><td>Place of publication</td>\
        \ <td>pl</td> </tr><tr><td>Publisher</td> <td>pb</td> </tr><tr><td>Series</td>\
        \ <td>se</td> </tr><tr><td>Standard Number</td> <td>sn</td> </tr><tr><td>Subject</td>\
        \ <td>su</td> </tr><tr><td>Title</td> <td>ti</td> </tr></tbody></table>  \
        \     \n"
      operationId: search-bibs
      parameters:
      - description: Content Type the client supports and is requesting (application/json
          currently supported)
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      - description: "query in the form of a keyword search or fielded search, for\
          \ example  (au:gazihan OR au:womacka) AND kw:java See - https://help.oclc.org/Librarian_Toolbox/Searching_WorldCat_Indexes/Bibliographic_records/Bibliographic_record_indexes/Bibliographic_record_index_lists"
        example: "ti: Simon's Cat"
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Limiter to restrict the response to the specified dewey classification
          number(s). For multiple values repeat the URL parameter. (dd index)
        examples:
          single:
            value:
            - 870
        explode: false
        in: query
        name: deweyNumber
        required: false
        schema:
          items:
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: "Limiter to restrict the response to one or more dates or to\
          \ a range (in index). (2000, 2000-2010, 1990,1991)"
        examples:
          single_date:
            value:
            - 2000
          multiple_dates:
            value:
            - 1990
            - 1991
          range:
            value:
            - 2000-2010
        explode: false
        in: query
        name: datePublished
        required: false
        schema:
          items:
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Restrict to holdings held by Group Symbol
        example: ASRL
        explode: true
        in: query
        name: heldByGroup
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Institution Symbol
        example: TXH
        explode: true
        in: query
        name: heldBy
        required: false
        schema:
          type: string
        style: form
      - description: Institution Symbol
        examples:
          single:
            value:
            - TXH
          multiple:
            value:
            - TXH
            - YSM
        explode: false
        in: query
        name: heldBySymbol
        required: false
        schema:
          items:
            description: institution OCLC Symbol. Special characters need to be encoded
              properly.
            maxLength: 8
            minLength: 3
            pattern: "^[a-zA-Z0-9@*&#%+$/]{1,}$"
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Institution registryId
        examples:
          single:
            value:
            - 128807
          multiple:
            value:
            - 128807
            - 91475
        explode: false
        in: query
        name: heldByInstitutionID
        required: false
        schema:
          items:
            description: The identifier in the WorldCat Registry for the institution
            type: integer
          maxItems: 5
          minItems: 0
          type: array
        style: form
      - description: "Limiter to restrict the response to the single specified language\
          \ (ln index). (eng, fre, ger)"
        examples:
          single:
            value:
            - eng
          multiple:
            value:
            - eng
            - fre
            - ger
        explode: false
        in: query
        name: inLanguage
        required: false
        schema:
          items:
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: "Limiter to restrict the response to the single specified cataloging\
          \ language (ll index). (dut, eng)"
        example: eng
        explode: true
        in: query
        name: inCatalogLanguage
        required: false
        schema:
          type: string
        style: form
      - description: "Limiter to restrict the response to the specified material type\
          \ (mt index). (URL, LPS)"
        example: URL
        explode: true
        in: query
        name: materialType
        required: false
        schema:
          type: string
        style: form
      - description: Limiter to restrict the response to the single OCLC symbol as
          the cataloging source (cs index). (OSL)
        example: OCL
        explode: true
        in: query
        name: catalogSource
        required: false
        schema:
          type: string
        style: form
      - description: "Limiter to restrict the response to the single specified OCLC\
          \ top-level facet type (x0 index). (book, image)"
        examples:
          single:
            value:
            - book
          multiple:
            value:
            - book
            - audiobook
        explode: false
        in: query
        name: itemType
        required: false
        schema:
          items:
            description: Filter values for General Format
            enum:
            - archv
            - artchapter
            - audiobook
            - book
            - compfile
            - encyc
            - game
            - image
            - intmm
            - jrnl
            - kit
            - map
            - msscr
            - music
            - news
            - object
            - snd
            - toy
            - video
            - vis
            - web
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: "Limiter to restrict the response to the single specified OCLC\
          \ sub facet type (x1 index). (dvd, digital)"
        examples:
          single:
            value:
            - book-digital
          multiple:
            value:
            - book-digital
            - audiobook-digital
        explode: false
        in: query
        name: itemSubType
        required: false
        schema:
          items:
            description: "Facet values returned and possible filter Values itemSubType\
              \ [Admin/OCLCDef/StdRT1 + Admin/OCLCDef/StdRT2]"
            enum:
            - archv-digital
            - archv-
            - artchap-artcl
            - artchap-chptr
            - artchap-digital
            - artchap-mss
            - audiobook-cd
            - audiobook-cassette
            - audiobook-digital
            - audiobook-lp
            - audiobook-
            - book-printbook
            - book-digital
            - book-mic
            - book-thsis
            - book-mss
            - book-largeprint
            - book-braille
            - book-continuing
            - book-
            - compfile-digital
            - compfile-
            - encyc-
            - game-digital
            - game-
            - image-2d
            - intmm-digital
            - intmm-
            - jrnl-print
            - jrnl-digital
            - kit-
            - map-
            - map-mss
            - map-digital
            - msscr-digital
            - msscr-mss
            - msscr-
            - music-cd
            - music-lp
            - music-digital
            - music-cassette
            - music-
            - news-digital
            - news-print
            - object-digital
            - object-
            - snd-
            - snd-rec
            - toy-
            - video-dvd
            - video-vhs
            - video-digital
            - video-film
            - video-bluray
            - video-
            - vis-digital
            - vis-
            - web-digital
            - web-dwn2d
            - web-
            type: string
          maxItems: 5
          minItems: 1
          type: array
        style: form
      - description: Limiter to restrict the response to bibliographic records with
          a retention commitment (l8 index).
        explode: true
        in: query
        name: retentionCommitments
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Limiter to restrict the response to bibliographic records associated
          with a particular shared print program (l8 index).
        example: WEST
        explode: true
        in: query
        name: spProgram
        required: false
        schema:
          type: string
        style: form
      - description: The requested list of facets requested in the response
        examples:
          single:
            value:
            - creator
          multiple:
            value:
            - creator
            - itemType
        explode: false
        in: query
        name: facets
        required: false
        schema:
          items:
            enum:
            - subject
            - creator
            - datePublished
            - genre
            - itemType
            - itemSubTypeBrief
            - itemSubType
            - language
            - topic
            - subtopic
            - content
            - audience
            - databases
            type: string
          maxItems: 13
          minItems: 1
          type: array
        style: form
      - description: Whether or not to use FRBR grouping. Default is 'false'
        explode: true
        in: query
        name: groupRelatedEditions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Whether or not to group variant records. Default is 'false'
        explode: true
        in: query
        name: groupVariantRecords
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: language user would prefer metadata description in
        explode: true
        in: query
        name: preferredLanguage
        required: false
        schema:
          description: three character MARC code for language to prefer records in
          example: fre
          type: string
        style: form
      - description: result sort key
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: bestMatch
          enum:
          - library
          - recency
          - bestMatch
          - creator
          - publicationDateAsc
          - publicationDateDesc
          - mostWidelyHeld
          - title
          type: string
        style: form
      - description: "start position of the bib records to return (0 based), default\
          \ 0"
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "maximum number of records to return, maximum 50, default 10"
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success-bibs:
                  summary: successful request for bibs
                  value:
                    numberOfRecords: 14249
                    bibRecords:
                    - identifier:
                        oclcNumber: "311684437"
                        lccn: "2008937609"
                        isbns:
                        - "9781594743344"
                        - "1594743347"
                        - "9781594743351"
                        - "1594743355"
                        - "9781594744518"
                        - "1594744513"
                        externalIdentifiers:
                        - oclcSymbol: AU@
                          systemControlNumber: "000043839587"
                        - oclcSymbol: AU@
                          systemControlNumber: "000044205433"
                        - oclcSymbol: AU@
                          systemControlNumber: "000044218081"
                        - oclcSymbol: AU@
                          systemControlNumber: "000054552395"
                        - oclcSymbol: CBK
                          systemControlNumber: "120281791"
                        - oclcSymbol: COVCL
                          systemControlNumber: "1594743347"
                        - oclcSymbol: DEBBG
                          systemControlNumber: BV035970551
                        - oclcSymbol: LBRUT
                          systemControlNumber: "1594743347"
                        - oclcSymbol: NLGGC
                          systemControlNumber: "321202333"
                        - oclcSymbol: NLNZL
                          systemControlNumber: "9913384163502836"
                        - oclcSymbol: NOK
                          systemControlNumber: "1594743347"
                        - oclcSymbol: NOK
                          systemControlNumber: "1594744513"
                        - oclcSymbol: NZ1
                          systemControlNumber: "12866253"
                        - oclcSymbol: NZ1
                          systemControlNumber: "1338416"
                        - oclcSymbol: NZ1
                          systemControlNumber: "14508856"
                        - oclcSymbol: OXFCL
                          systemControlNumber: "1594743347"
                        - oclcSymbol: REABC
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKBCI
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKBCI
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKBED
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKBFB
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKBNS
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKBNS
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKBNT
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKBOR
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKBUR
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKCHS
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKDEL
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKDLI
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKDON
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKDOR
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKGTH
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKJSY
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKKCC
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKKUT
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKLBB
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKLCL
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKLLS
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKNLL
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKNWH
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKNWP
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKPMH
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKSCO
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKSCO
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKSCO
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKSFD
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKSGC
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKSGC
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKSGC
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKSOM
                          systemControlNumber: "120281791"
                        - oclcSymbol: UKSOM
                          systemControlNumber: 12033044X
                        - oclcSymbol: UKSUS
                          systemControlNumber: "1594743347"
                        - oclcSymbol: UKTLS
                          systemControlNumber: "120281791"
                        - oclcSymbol: UNITY
                          systemControlNumber: "120281791"
                        - oclcSymbol: UNITY
                          systemControlNumber: 12033044X
                        - oclcSymbol: WARCC
                          systemControlNumber: "1594743347"
                        mergedOclcNumbers:
                        - "261176486"
                        - "330361568"
                        - "377707240"
                        - "426228842"
                        - "701739996"
                        - "716923895"
                        - "731216527"
                        - "887752101"
                        - "945738851"
                        - "1045429884"
                      title:
                        mainTitles:
                        - text: "Pride and prejudice and zombies : the classic regency\
                            \ romance--now with ultraviolent zombie mayhem / by Jane\
                            \ Austen and Seth Grahame-Smith."
                        seriesTitles:
                        - seriesTitle: Quirk classics
                        - seriesTitle: Quirk classics.
                      contributor:
                        creators:
                        - firstName:
                            text: Seth
                          secondName:
                            text: Grahame-Smith
                          type: person
                          creatorNotes:
                          - author.
                          relators:
                          - term: Author.
                            alternateTerm: aut
                        - firstName:
                            text: Jane
                          secondName:
                            text: Austen
                          type: person
                          creatorNotes:
                          - 1775-1817. http://rdaregistry.info/Elements/w/P10197
                          relators:
                          - alternateTerm: http://rdaregistry.info/Elements/w/P10197
                        additionalCreators:
                        - relationshipInfo: 'Parody of (work):'
                          titles:
                          - Pride and prejudice.
                          relators:
                          - alternateTerm: http://rdaregistry.info/Elements/w/P10197
                          relatedData: "Austen, Jane, 1775-1817."
                      subjects:
                      - subjectName:
                          text: "Austen, Jane, 1775-1817 Parodies, imitations, etc."
                        vocabulary: Library of Congress Subject Headings
                        subjectType: personalName
                      - subjectName:
                          text: "Bennet, Elizabeth (Fictitious character) Fiction."
                        vocabulary: Library of Congress Subject Headings
                        subjectType: personalName
                      - subjectName:
                          text: "Darcy, Fitzwilliam (Fictitious character) Fiction."
                        vocabulary: Library of Congress Subject Headings
                        subjectType: personalName
                      - subjectName:
                          text: "Austen, Jane, 1775-1817."
                        vocabulary: fast
                        subjectType: personalName
                      - subjectName:
                          text: "Bennet, Elizabeth (Fictitious character)"
                        vocabulary: fast
                        subjectType: personalName
                      - subjectName:
                          text: "Darcy, Fitzwilliam (Fictitious character)"
                        vocabulary: fast
                        subjectType: personalName
                      - subjectName:
                          text: "Austen, Jane, 1775-1817 Parodies, imitations, etc."
                        vocabulary: sears
                        subjectType: personalName
                      - subjectName:
                          text: Zombies Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Young women England Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Social classes England Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Sisters Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Sisters.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Social classes.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Young women.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Zombies.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: "Darcy, Fitzwilliam (Fictional character) Fiction."
                        vocabulary: sears
                        subjectType: topic
                      - subjectName:
                          text: "Bennet, Elizabeth (Fictional character) Fiction."
                        vocabulary: sears
                        subjectType: topic
                      - subjectName:
                          text: Zombies Fiction.
                        vocabulary: sears
                        subjectType: topic
                      - subjectName:
                          text: England Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: geographicalTerm
                      - subjectName:
                          text: England.
                        vocabulary: fast
                        subjectType: geographicalTerm
                      - subjectName:
                          text: Horror tales.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: genreFormTerm
                      - subjectName:
                          text: "Parodies, imitations, etc."
                        vocabulary: fast
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Regency fiction.
                        vocabulary: gsafd
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Parodies (Literature)
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Zombie fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Horror fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Romance fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Historical fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Novels.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Regency novels.
                        vocabulary: sears
                        subjectType: genreFormTerm
                      classification:
                        dewey: 813/.6
                        lc: PS3607.R348 P75 2009
                      publishers:
                      - publisherName:
                          text: Quirk Books ; Distributed in North America by Chronicle
                            Books
                        publicationPlace: "Philadelphia :, San Francisco :"
                      date:
                        publicationDate: ©2009.
                        createDate: "20080916"
                        replaceDate: "20191127"
                      language:
                        catalogingLanguage: eng
                      edition: {}
                      note: {}
                      format:
                        generalFormat: Book
                        specificFormat: PrintBook
                        materialTypes:
                        - fic
                      musicInfo: {}
                      description:
                        physicalDescription: "335 pages : illustrations ; 21 cm."
                        genres:
                        - Horror tales.
                        - "Parodies, imitations, etc."
                        - Regency fiction.
                        - Parodies (Literature)
                        - Zombie fiction.
                        - Horror fiction.
                        - Romance fiction.
                        - Historical fiction.
                        - Novels.
                        - Regency novels.
                        - Fiction.
                        summaries:
                        - text: "As a mysterious plague falls upon the village of\
                            \ Meryton and zombies start rising from the dead, Elizabeth\
                            \ Bennet is determined to destroy the evil menace, but\
                            \ becomes distracted by the arrival of the dashing and\
                            \ arrogant Mr. Darcy."
                        peerReviewed: "N"
                      related: {}
                      work:
                        id: "4923669497"
                        count: 31
                      editionCluster:
                        id: d1627d1ae0c1cfa1446621aa64d1313a
                        count: 11
                      totalEditions: 9
                      database:
                        source: xwc
                        collection: xwc
                    - identifier:
                        oclcNumber: "44959645"
                        isbns:
                        - "0585013365"
                        - "9780585013367"
                        - "9781925480337"
                        - 192548033X
                        - "9781470398842"
                        - "1470398842"
                        externalIdentifiers:
                        - oclcSymbol: AU@
                          systemControlNumber: "000043008486"
                        - oclcSymbol: AU@
                          systemControlNumber: "000051776633"
                        - oclcSymbol: AU@
                          systemControlNumber: "000062336736"
                        - oclcSymbol: NZ1
                          systemControlNumber: "11911003"
                        mergedOclcNumbers:
                        - "818363152"
                        - "854852439"
                        - "859164912"
                        - "956345342"
                        - "961694815"
                        - "962656893"
                        - "984641152"
                        - "1020527260"
                        - "1035052454"
                        - "1038645804"
                        - "1044467052"
                        - "1058469264"
                        - "1062954266"
                        - "1107828246"
                      title:
                        mainTitles:
                        - text: Pride and prejudice / by Jane Austen.
                      contributor:
                        creators:
                        - firstName:
                            text: Jane
                          secondName:
                            text: Austen
                          type: person
                          creatorNotes:
                          - 1775-1817.
                      subjects:
                      - subjectName:
                          text: Courtship England Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: FICTION General.
                        vocabulary: bisacsh
                        subjectType: topic
                      - subjectName:
                          text: Courtship.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Manners and customs.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: England Social life and customs 19th century Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: geographicalTerm
                      - subjectName:
                          text: England.
                        vocabulary: fast
                        subjectType: geographicalTerm
                      - subjectName:
                          text: English fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Fiction.
                        vocabulary: fast
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Love stories.
                        vocabulary: gsafd
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Domestic fiction.
                        vocabulary: gsafd
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Romance fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      - subjectName:
                          text: 1800-1899
                        vocabulary: fast
                        subjectType: chronologyTerm
                      classification:
                        dewey: "823"
                        lc: PR4034
                      publishers:
                      - publisherName:
                          text: Project Gutenberg
                        publicationPlace: "Champaign, Ill. :"
                      date:
                        publicationDate: "[199-?]"
                        createDate: "20000816"
                        replaceDate: "20190717"
                      language:
                        catalogingLanguage: eng
                      edition: {}
                      note: {}
                      format:
                        generalFormat: Book
                        specificFormat: Digital
                        materialTypes:
                        - dct
                        - fic
                        - url
                      musicInfo: {}
                      digitalAccessAndLocations:
                      - uri: http://search.ebscohost.com/login.aspx?direct=true&scope=site&db=nlebk&db=nlabk&AN=1085113
                        materialSpecified: EBSCOhost
                      - uri: http://www.netlibrary.com/UrlApi.aspx?action=browse&v=1&bookid=1085113
                        materialSpecified: EBSCOhost
                      - uri: http://carletonca.rbdigital.com/#titles/9781470398842
                        materialSpecified: RBdigital
                      - uri: http://www.gutenberg.org/etext/1342
                      - uri: http://greatlakes.wheelers.co/title/gut1342/epub
                      - uri: http://www.gutenberg.org/ebooks/1342
                      - uri: http://search.ebscohost.com/login.aspx?direct=true&scope=site&db=nlebk&db=nlabk&AN=1085113
                        materialSpecified: EBSCOhost
                      - uri: https://elib.southwest.tn.edu:3443/login?url=http://www.netlibrary.com/urlapi.asp?action=summary&v=1&bookid=1085113
                        materialSpecified: NetLibrary
                        publicNote: An electronic book accessible through the World
                          Wide Web; click for information
                      - uri: https://elib.southwest.tn.edu:3443/login?url=http://southwesttncc.oneclickdigital.com/Products/ProductDetail.aspx?titlegroupid=2204
                        publicNote: Click to view.
                      - uri: http://proxy.library.carleton.ca/login?url=http://www.netLibrary.com/urlapi.asp?action=summary&v=1&bookid=1085113
                        publicNote: eBooks on EBSCOhost
                      - uri: http://wyomingstatewy.rbdigital.com/#titles/9781470398842
                        publicNote: View full text.
                      - uri: https://www.lib.uwo.ca/cgi-bin/ezpauthn.cgi?url=http://www.netLibrary.com/urlapi.asp?action=summary&v=1&bookid=1085113
                        publicNote: Connect to NetLibrary resource
                      - uri: http://www.netlibrary.com/urlapi.asp?action=summary&v=1&bookid=1085113
                        materialSpecified: NetLibrary
                      - uri: https://libproxy.washjeff.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&scope=site&db=nlebk&db=nlabk&AN=1085113
                        materialSpecified: EBSCOhost
                      - uri: https://search.ebscohost.com/login.aspx?direct=true&scope=site&db=nlebk&db=nlabk&AN=1085113
                        materialSpecified: Free Access
                        publicNote: (Unlimited Concurrent Users) from EBSCO
                      - uri: http://arkansasriverar.oneclickdigital.com/Products/ProductDetail.aspx?titlegroupid=2204
                      - uri: http://images.oneclickdigital.com/5003591/5003591_image_95x140.jpg
                        materialSpecified: Image
                      description:
                        physicalDescription: 1 online resource
                        genres:
                        - English fiction.
                        - Electronic books.
                        - Fiction.
                        - Love stories.
                        - Domestic fiction.
                        - Romance fiction.
                        summaries:
                        - text: "When Elizabeth Bennet first meets eligible bachelor\
                            \ Fitzwilliam Darcy, she thinks him arrogant and conceited;\
                            \ he is indifferent to her good looks and lively mind.\
                            \ When she later discovers that Darcy has involved himself\
                            \ in the troubled relationship between his friend Bingley\
                            \ and her beloved sister Jane, she is determined to dislike\
                            \ him more than ever. In the sparkling comedy of manners\
                            \ that follows, Jane Austen shows the folly of judging\
                            \ by first impressions and superbly evokes the friendships,\
                            \ gossip and snobberies of provincial middle-class life."
                        peerReviewed: "N"
                      related: {}
                      work:
                        id: "1881837462"
                        count: 4503
                      editionCluster:
                        id: d08b287e8ed6e597298bca1413e42b63
                        count: 3
                      totalEditions: 2217
                      database:
                        source: xwc
                        collection: xwc
                    - identifier:
                        oclcNumber: "49569228"
                        isbns:
                        - "9780191592539"
                        - "0191592536"
                        - "0585377618"
                        - "9780585377612"
                        externalIdentifiers:
                        - oclcSymbol: DEBBG
                          systemControlNumber: BV043078578
                        - oclcSymbol: DEBSZ
                          systemControlNumber: 42248301X
                        - oclcSymbol: GBVCP
                          systemControlNumber: "800832604"
                        mergedOclcNumbers:
                        - "530699569"
                        - "702096151"
                        - "1036823755"
                      title:
                        mainTitles:
                        - text: Pride and prejudice / Jane Austen ; edited by James
                            Kinsley ; with a new introduction by Isobel Armstrong
                            ; notes by Frank W. Bradbrook.
                        seriesTitles:
                        - seriesTitle: World's classics
                        - seriesTitle: Oxford world's classics (Oxford University
                            Press)
                      contributor:
                        creators:
                        - firstName:
                            text: Jane
                          secondName:
                            text: Austen
                          type: person
                          creatorNotes:
                          - 1775-1817.
                        - firstName:
                            text: James.
                          secondName:
                            text: Kinsley
                          type: person
                      subjects:
                      - subjectName:
                          text: Young women Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Courtship Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: Sisters Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: topic
                      - subjectName:
                          text: FICTION Romance General.
                        vocabulary: bisacsh
                        subjectType: topic
                      - subjectName:
                          text: Courtship.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Sisters.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: Young women.
                        vocabulary: fast
                        subjectType: topic
                      - subjectName:
                          text: England Fiction.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: geographicalTerm
                      - subjectName:
                          text: England.
                        vocabulary: fast
                        subjectType: geographicalTerm
                      - subjectName:
                          text: Domestic fiction.
                        vocabulary: fast
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Fiction.
                        vocabulary: fast
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Love stories.
                        vocabulary: gsafd
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Electronic books.
                        vocabulary: Library of Congress Subject Headings
                        subjectType: genreFormTerm
                      - subjectName:
                          text: Domestic fiction.
                        vocabulary: lcgft
                        subjectType: genreFormTerm
                      classification:
                        dewey: 823/.7
                        lc: PR4034 .P7 1990eb
                      publishers:
                      - publisherName:
                          text: Oxford University Press
                        publicationPlace: Oxford ;
                      date:
                        publicationDate: "1990."
                        createDate: "20010911"
                        replaceDate: "20190505"
                      language:
[...]
